<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Schoop &ndash; {{pageTitle}}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Schoop">

	<link rel="icon" href="/img/icons/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png" />

	<!-- Sentry error reporting -->
	<script src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js" integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB" crossorigin="anonymous">
</script>
	<script>Sentry.init({ dsn: 'https://60efb1ff5f9c417bbd61dd94ed62a14e@o378464.ingest.sentry.io/5201900' });
</script>

	<!-- CONFIG (rendered server-side) -->
	<script>
		// true for everyone
		var SCHOOP_HOST = "{{{defaults.appHost}}}";
		var API_HOST = SCHOOP_HOST + "/api";
		var DIVISIONS = {{{defaults.divisionOptions}}};
		var DIVISION_PERIODS = {{{defaults.divisionPeriods}}};
		var SCHEDULE_FOLDER_NAME = "{{{defaults.scheduleFolderName}}}";
		var NODE_ENV = "{{{defaults.nodeEnv}}}";
		var APP_INSTANCE = "{{{defaults.nodeAppInstance}}}";
		// stuff for breaks
		var IS_ON_BREAK = {{{defaults.isOnBreak}}};
		var SCHOOL_BREAK_ALERT = {{{defaults.schoolBreakAlert}}};

		// user-specific
		var STUDENT_HAS_SEEN_ONBOARDING = {{{defaults.studentHasSeenOnboarding}}};
		var STUDENT_GRADE = {{{studentGrade}}};
		var STUDENT_DIVISION = "{{{studentDivision}}}";
		var STUDENT_FIRST_NAME = "{{{studentInfo.first_name}}}";
		var SEMINAR_ZOOM_LINK = "{{{studentInfo.seminar_zoom_link}}}";
		var SEMINAR_NAME = "{{{studentInfo.seminar_name}}}";

		// for debug
		var ACCOUNT_ID = "{{{studentInfo.google_oauth_id}}}";

		// error reporting like a boss
		Sentry.configureScope(function (scope) {
			scope.setExtra("student_grade", STUDENT_GRADE);
			scope.setExtra("student_division", STUDENT_DIVISION);
			scope.setExtra("student_has_seen_onboarding", STUDENT_HAS_SEEN_ONBOARDING);
			scope.setExtra("student_device_is_in_standalone_mode", (("standalone" in window.navigator) && window.navigator.standalone));
		});
	</script>

	<!-- vendor script -->
	<!-- web worker overrides for setInterval and setTimeout, etc.: will it work? -->
	<script src="https://cdn.jsdelivr.net/npm/hacktimer@1.1.3/HackTimer.silent.min.js"></script>
	<script src="https://unpkg.com/mobx@5.15.4/lib/mobx.umd.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5"></script>
	<script src="/js/vendor.js?{{defaults.jsLastRevised}}"></script>

	<!-- all common -->
	<script src="/js/common/all-common.js"></script>

	<!-- styles -->	
	<!-- FONTS -->
	<!--
	/**
	* @license
	* MyFonts Webfont Build ID 205172
	* 
	* The fonts listed in this notice are subject to the End User License
	* Agreement(s) entered into by the website owner. All other parties are 
	* explicitly restricted from using the Licensed Webfonts(s).
	* 
	* You may obtain a valid license from one of MyFonts official sites.
	* http://www.fonts.com
	* http://www.myfonts.com
	* http://www.linotype.com
	*
	*/
	-->
	<link rel="stylesheet" type="text/css" href="/css/fonts/MyFontsWebfontsKit.css">
	<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
	<!-- END FONTS -->
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"> <!-- line awesome -->
	<link rel="stylesheet" href="/css/vendor.css?{{defaults.jsLastRevised}}">
	<link rel="stylesheet" href="/css/app.css?{{defaults.jsLastRevised}}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DHETQK3N9W"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-DHETQK3N9W');
	</script>
</head>
<body>
	<!-- loading overlay -->
	<div class="loading-overlay">
		<div class="loading-text">Loading&hellip;</div>
		<noscript><strong style="color: #fff;">Please enable JavaScript to use this website.</strong></noscript>
	</div>
	<!-- navbar -->
	<nav class="navbar">
		<div class="navbar-inner">
            <a href="/home" class="navbar-title"><h1>Schoop</h1></a>
            <div class="navbar-nav-btns">
            	<ul class="nav-btns-inner">
	            	<li><a role="button" data-role="button" class="home-btn" href="/home" title="Home"><span class="sr-only">Home</span><i class="las la-home"></i></a></li>
	            	<li><a role="button" data-role="button" class="profile-btn" href="/profile" title="Profile"><span class="sr-only">Profile</span><i class="las la-user"></i></a></li>
								<li><a role="button" data-role="button" href="/calendar" title="Calendar"><span class="sr-only">Calendar</span><i class="las la-calendar"></i></a></li>
	            	<li><a role="button" data-role="button" class="feedback-btn" onclick="showFeedbackDialog();" href="#" title="Feedback"><span class="sr-only">Feedback</span><i class="las la-comment"></i></a></li>
	            	<li><a role="button" data-role="button" class="logout-btn" onclick="logOutUser();" href="#" title="Log Out"><span class="sr-only">Log Out</span><i class="las la-sign-out-alt"></i></a></li>
            	</ul>
            </div>
        </div>
	</nav>
	<!-- content -->
	<main class="content">
			<!-- rendered content -->
			{{{body}}}
	</main>

	<footer class="page-footer">
		<div class="footer-content">
			<span>
				<strong>Schoop</strong> |
				&copy; {{defaults.currentYear}} Zane St. John |
				<a href="https://blog.schoop.app/about.html?utm_source=app&utm_medium=footer&utm_campaign=schoop_blog" target="_blank">About</a> |
				<a href="/privacy_policy.html">Privacy</a> |
				<a href="javascript:showDebugDialog();">Debug</a>
			</span>
		</div>
	</footer>

	<!-- scripts -->
	<script src="/js/common/app-common.js?{{defaults.jsLastRevised}}"></script> <!-- common elements -->
	<script src="/js/page/{{{pageJS}}}.js?{{defaults.jsLastRevised}}" defer></script> <!-- loads after the other stuff lol -->

	<script type="text/javascript">
		// last-minute junk added for debug
		function showDebugDialog() {
			const values = {
				account_id: ACCOUNT_ID,
				node_env: (NODE_ENV === "" ? "(none)" : NODE_ENV),
				host: SCHOOP_HOST,
				student_division: STUDENT_DIVISION,
				schedule_folder_name: SCHEDULE_FOLDER_NAME,
				app_instance: (APP_INSTANCE === "" ? "N/A" : APP_INSTANCE),
				is_on_break: IS_ON_BREAK
			};
			const listKeys = Object.keys(values);

			const listItems = listKeys.map(function (key) {
				let li = document.createElement("li");
				li.style.textAlign = "left";

				let adjustedValue = (typeof values[key] === "object") ? JSON.stringify(values[key]) : values[key];

				let keyTextElem = document.createElement("strong");
				let keyText = document.createTextNode(key.replace(/_/g, " "));
				keyTextElem.appendChild(keyText);

				let valText = document.createTextNode(": " + adjustedValue);

				li.appendChild(keyTextElem);
				li.appendChild(valText);
				
				return li;
			});

			const list = document.createElement("ul");
			for (const listItem of listItems) {
				list.appendChild(listItem);
			}

			// show dialog
			Swal.fire({
				title: "Debug",
				icon: "info",
				html: list.outerHTML // gets html content from generated list
			});
		}
	</script>

	<!-- cookie consent banner (work in progress) -->
	<link rel="stylesheet" type="text/css" href="/js/cookieconsent/cookieconsent.min.css?{{defaults.jsLastRevised}}" />
	<script src="/js/cookieconsent/cookieconsent.min.js?{{defaults.jsLastRevised}}" defer></script>
	<script>window.addEventListener("load", function () { window.wpcc.init({ "border": "thin", "corners": "small", "colors": { "popup": { "background": "#cff5ff", "text": "#000000", "border": "#5e99c2" }, "button": { "background": "#5e99c2", "text": "#ffffff" } }, "position": "bottom", "content": { "href": "https://schoop.app/privacy_policy.html", "link": "Privacy Policy", "button": "Got it", "message": "Schoop uses cookies to optimize your experience." } }) });</script>
</body>
</html>