<div class="user-info">
	<h1 class="no-extra-margin-top">User Settings</h1>
	<h2>{{studentInfo.first_name}} {{studentInfo.last_name}}</h2>
	<img src="{{{studentInfo.google_profile_pic_url}}}=s100" alt="{{studentInfo.first_name}} {{studentInfo.last_name}}'s Profile Picture" />
	<h2>Your Classes:</h2>
	<table class="class-entry-table fix-border-radius">
		<tbody>
			<tr>
				<th class="left">Period</th>
				<th class="center">Class Name</th>
				<th class="right">Zoom Link</th>
			</tr>
		</tbody>
	</table>
</div>