<div class="user-info">
	<h1>User Settings</h1>
	<h2>{{studentInfo.first_name}} {{studentInfo.last_name}}</h2>
	<img src="{{{google_profile_pic_url}}}" alt="{{studentInfo.first_name}} {{studentInfo.last_name}}'s Profile Picture" />
</div>